/* ----------------------- body ------------------------------*/
body {
  margin: 0;
  padding: 0;

  font-family: 'Courier New', monospace;
  font-style: normal;
  font-weight: 500;
  color:white;
  font-size: 18px;
  line-height: 1.75;
}

* {
  box-sizing: border-box;
}


/* ----------------------- decoration ------------------------------*/

h1, h2, h3, h4, h5, h6 { 
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  padding-top: 0px;
  margin:0px;
  text-align: center;
}


h3{ /*Page Titles*/
  font-size: 42px;
  color: red;
  text-align: left;
}

h4{ /*Page Headers*/
  font-size: 42px;
  color: white;
  text-align: left;
}

h2, h6{
  border-style: solid;
  border-color: #F32C2C;
}

h2{ /*Block Titles - Index*/
  font-size: 64px;
  color: #F32C2C;
  background-color:#06332abd;
}

h6{ /*Big Links - index*/
  margin-top:20px;
  font-size: 42px;
  text-decoration:none;
  background-color: #003c58;
}

h6 a{
  text-decoration:none;
  color: #F32C2C;
}

h1:hover{
  color: #91D9AF;
}

.caption{
  color:#d8d26a;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.border1{
  border-style: solid;
  border-color: #F32C2C;
  padding:15px;
}

.box1{
  min-width: 250px;
  background-color: #06332a6c;
}

.fill1{
  background-color: #F32C2C;
}

.contents-menu a{
  text-decoration:none;
  color:#59ffaa;
}

.contents-menu a:hover{
  color:#0a8f4a;
}

/* ----------------------- header ------------------------------*/

header {
    background-color: #0303033f;
    padding: 0px;
}

.headercontainer {
    margin:0px;
    padding:0px;
    display: flex;
    flex-direction: row;
    text-align: center
}

.headercontainer a{
    text-decoration: none;
}

.button{
    border: none;
}

h1{
  font-size: 172px; /*Howell's Blog Title*/
  color: #F32C2C;
  text-align: left;
  line-height: 1;
} 

.iconbtn{
    margin-top:18px;
    margin-right: 10px;
    margin-left:5px;
    padding:5px;
    background-color:#04292665;
    background-image: url("/stamp512.png");
    background-size: cover;
    width: 140px;
    height: 140px;
}

@media screen and (max-width:1000px) {
  .iconbtn{
    margin-top:8px;
    width: 120px;
    height: 120px;
  }

  h1{
  font-size: 70px;
  }
}

.iconbtn:hover{
    background-color:#9affd5cc;
}

/* ----------------------- navbar ------------------------------*/

 /* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #0a212470;
    padding-left: 2%;
    line-height: 1;
}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 18px;
    color: rgb(255, 244, 144);
    padding: 14px 16px;
    text-decoration: none;

    font-family: "Staatliches";
    font-style: normal;
    font-weight: 200;
    letter-spacing: 6.4px;
    line-height: 1;
}

.navbar .icon{
  display: none;
}
/* ----------------------- subnav ------------------------------*/

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}


/* Subnav button */
.subnav .subnavbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(255, 244, 144);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 200;
    letter-spacing: 6.4px;
    line-height: 1;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(5, 92, 73);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255); /* bottom nav bar colour */
  width: 12%;
  z-index: 1;
}

@media screen and (max-width:1000px) {
  .subnav-content {
    width: 50%;
  }
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    text-decoration: none;
    color: rgb(5, 92, 73);
  
    font-family: "Staatliches";
    font-style: normal;
    font-weight: 200;
    letter-spacing: 3px;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: rgb(0, 0, 0);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
} 

/* ----------------------- breadcrumbs ------------------------ */

.breadcrumb{
  font-weight: 700;
  font-size: 14px;
  margin:20px 50px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #00060399;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: rgb(255, 255, 255);
  content: ">>\00a0"; /*icon in middle*/
}
ul.breadcrumb li a {
  color: #17ffb0;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ----------------------- gallery ------------------------ */
.gallery {
  --col-min-width: 150px;
  --min-col-row: 0;
  --max-col-row: 3;
  --col-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min((100%/var(--min-col-row) - var(--col-gap)*(var(--min-col-row) - 1)/var(--min-col-row)), max(var(--col-min-width), (100%/var(--max-col-row) - var(--col-gap)*(var(--max-col-row) - 1)/var(--max-col-row)))), 1fr));
  gap: 7px;
  grid-auto-rows: 1fr;
  background-color: rgba(0, 0, 0, 0.541);
  padding: 3%;
  border-style: solid none;
  border-color: rgb(255, 244, 144);
}


@media screen and (min-width:2500px) {
  div.gallery{
    --max-col-row: 5;
  }
}

.gallery .gallery-item a {
  display:block;
}

.gallery .gallery-item img {
  display:block;
  aspect-ratio:1;
  width: 100%;
  object-fit:cover;
}

.gallery .gallery-item .desc {
  padding: 15px;
  text-align: center;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 200;
  letter-spacing: 3px;
  color:white;
}

/* ----------------------- flex containers ---------------- */

div.flex-container {
  display: flex;
  flex-direction: row;
  padding:20px;
}

div.flex-container a img{
  width: 100%;
  height: 100%;
  padding:5px;
}

div.flex-container2 {
  display: flex;
  flex-direction: row;
  padding:0px;
  justify-content: center;
  font-size:24px;
}

div.flex-column{
  display: flex;
  flex-direction: column;
}

div.flex-container2 ul {
  margin-left:10px;
  margin-right:50px;
}



div.flex-container2 p { /*contents menu*/
  margin-left:10px;
  margin-right:50px;
  font-size: 30px;
}

div.flex-container > div {
  margin: 10px;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (min-width:2500px) {
  div.flex-column {
    flex-direction: row;
  }
}

/* ----------------------- content pages ---------------- */

.block-buttons{
  display:flex;
  justify-content:center;
}

.block-button{
  background-color: #1d5c40;
  padding: 10px 20px;
  margin: 8px 2px;
}

.block-button a{
  color: #bcd4c6;
  text-decoration: none;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 200;
  letter-spacing: 3px;
}

.content-block{
  background-color: #00060399;
  margin:50px;
  margin-top: 10px;
  padding:10px 20px;
}

.embed-container{
  aspect-ratio: 16 / 9;
  max-width: 1800px;
  margin:auto;
}

.line {
  height: 2px;
  width: 80%;
  background-color: #1d5c40;
  margin:30px auto;
}

.centered-img-container img{
  margin:auto;
  width:95%;
  max-width: 2500px;
  padding-left:5px;
  padding-right:5px;
  padding-top: 10px;
}

.sketchfab-embed{
  width:100%;
  height: auto;
}


/* ----------------------- canvas (Ink shader) ---------------- */

