---
import Base from "../templates/base.astro"
import "../css/blogstyle.css"
---

<Base title="Ink Shader">

  <script src="../js/InkShader.js"></script>

  <style>
    #canvas {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
   }

   .a img {
    z-index: 2;
   }


  p {
    color: #880000;
    font-weight: 800;
    padding-left: 15px;
    margin-top: 0px;
    width:10%;
  }

  </style>

  <canvas id="canvas"></canvas>

  <a href="/">
    <img src="/images/stamp512.png" alt="Home Page" style="width: 10%; padding: 10px;">
  </a>

  <p> Return to Home</p> <br>

</Base>
